.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store


codebookApp/Codebook_RMD/Data/*
!Codebook_RMD/Data/.gitkeep
codebookApp/Codebook_RMD/figure/*
!Codebook_RMD/figure/.gitkeep
codebookApp/Codebook_RMD/codebook.html


# R Markdown generated folders that create long paths
*_files/
*_cache/
*.html
